.venv/
env/
/venv

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/
*.swp

Thumbs.db          # Windows

.env
.env.local

*.safetensors
*.bin
*.pt
*.pth
*.gguf

# Twoje własne skrypty testowe
test_hf_size.py